<DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel='stylesheet' href='../static/icons/style.css'>
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:100,400,600" rel="stylesheet">
		<link rel='stylesheet' href='../styles/main.min.css'>
	</head>

	<body>
		<% include ../shared/nav %>
		<% include ../shared/offside %>

		<main class='contact-page-container'>
			<header class='contact-header'>
				<img src='../static/images/contact-header.jpg'>
				<div class='contact-header-overlay'>
					<h1>We want to hear from you</h1>
				</div>
			</header>

			<section class='contact-human'>
				<h2>Talk to a human</h2>
				<p>Tired of wasting your time dealing with automated messages? At Evolution we make it our priority to make sure there is a human ready to assist you at all times and to guarentee your emails won't just get lost somewhere in an inbox, never to be seen again</p>
			</section>

			<section class='contact-locations'>
				<h2>How do you get a hold of us?</h2>
				<p>Just checkout our locations below for each of their unique information</p>

				<div class='location-wrapper'>
					<figure class='contact-location'>
						<img src='../static/images/store1.png' alt='location 1 image'>
						<div class='location-overlay'>
							<h3>Location 1</h3>
						</div>
					</figure>

					<figure class='contact-location'>
						<img src='../static/images/store2.png' alt='location 2 image'>
						<div class='location-overlay'>
							<h3>Location 2</h3>
						</div>
					</figure>

					<figure class='contact-location'>
						<img src='../static/images/store3.png' alt='location 3 image'>
						<div class='location-overlay'>
							<h3>Location 3</h3>
						</div>
					</figure>

					<figure class='contact-location'>
						<img src='../static/images/store4.png' alt='location 4 image'>
						<div class='location-overlay'>
							<h3>Location 4</h3>
						</div>
					</figure>

					<figure class='contact-location'>
						<img src='../static/images/store5.png' alt='location 5 image'>
						<div class='location-overlay'>
							<h3>Location 5</h3>
						</div>
					</figure>
				</div>
			</section>

			<section class='contact-form-container'>
				<p>If you don't feel like calling or coming in, you can always shoot us a direct message with the form below</p>

				<form name='contact-form' class='contact-form'>
					<div class='form-wrapper'>
						<input type='text' name='name' id='contact-name'>
						<label for='contact-name'>Name<span class='req'>*</span>
						</label>
					</div>

					<div class='form-wrapper form-email-wrapper'>
						<input type='email' name='email' id='contact-email'>
						<label for='contact-email'>Email<span class='req'>*</span>
						</label>
					</div>

					<div class='form-wrapper'>
						<input type='text' name='subject' id='contact-subject'>
						<label for='contact-subject'>Subject</label>
					</div>

					<div class='form-wrapper form-phone-wrapper'>
						<input type='phone' name='phone' id='contact-phone'>
						<label for='contact-phone'>Phone</label>
					</div>

					<div class='form-wrapper'>
						<textarea rows='10' id='contact-message'></textarea>		
						<label for='contact-message'>Message<span class='req'>*</span>
						</label>
					</div>

					<div class='form-submit'>
						<button type='button' id='contact-submit' aria-label='submit the message form'>
							<span>Deliver</span>
						</button>
					</div>
				</form>
			</section>

			<section class='contact-maps'>
				<img src='../static/images/map.png' alt='store location map'>
			</section>
		</main>

		<script src='../index.js'></script>
	</body>
</html>