.about-story
	display: flex
	flex-direction: column
	align-items: center
	padding: 75px 0
	background: lighten(#c1bdba, 15%)

.about-story-title
	display: flex
	flex-direction: column
	align-items: center
	width: 100%

	> div
		width: 50%
		height: 0
		border-top: 2px solid rgba(0,0,0,0.12)

	h2
		@include open()
		font-weight: 600
		text-transform: uppercase
		font-size: 30px
		letter-spacing: 6px
		margin: 20px 0

.about-story-text
	padding-top: 65px
	width: 80%
	margin: 0 auto
	text-align: center

	blockquote
		@include open()
		font-weight: normal
		font-size: 17px
		letter-spacing: 2px
		line-height: 30px
		margin-bottom: 55px

	p
		display: none
		@include open()
		font-weight: normal
		font-size: 16px
		letter-spacing: 2px
		line-height: 28px
		color: #7d7d7d

	a
		text-decoration: none

@media screen and (min-width: 640px)
	.about-story
		padding: 65px 0

	.about-story-text
		padding-top: 65px
		width: 80%

		blockquote
			line-height: 35px

		p
			width: 85%
			margin: 0 auto

@media screen and (min-width: 870px)
	.about-story
		padding: 80px 0

	.about-story-title
		> div
			width: 40%

	.about-story-text
		width: 80%


@media screen and (min-width: 1200px)
	.about-story
		padding: 120px 0

	.about-story-title
		width: 35%

	.about-story-text
		width: 65%

@media screen and (min-width: 1350px)
	.about-story-text
		blockquote
			margin-bottom: 70px
			font-size: 18px

		p
			line-height: 32px
