.about-timeline
	padding: 50px 0
	border-bottom: 1px solid rgba(0,0,0,0.12)
	overflow: hidden
	background: rgba(19, 35, 47, 0.9)

.about-timeline-large
	display: none

.about-timeline-small
	display: flex
	flex-direction: column
	align-items: center
	width: 100%

	> div
		display: flex
		flex-direction: column
		align-items: center
		width: 100%

	.timeline-marker
		display: flex
		align-items: center
		justify-content: center
		height: 75px
		width: 75px
		border-radius: 50%
		background: rgba(0,0,0,0.12)

		p
			@include lato()
			font-weight: 300
			font-size: 17px
			color: #fff

	.timeline-vertical-line
		height: 50px
		border-right: 1px solid #fff

		&.last
			height: 0
			border: none

	.timeline-widget
		height:  300px
		width: 85%
		margin: 0 auto
		background: rgba(0,0,0,0.4)

	.timeline-image
		height: 70%
		width: 100%

	.timeline-bottom
		display: flex
		align-items: center
		justify-content: flex-start
		height: 30%
		padding-left: 10px

		p
			@include open()
			font-weight: normal
			font-size: 15px
			line-height: 27px
			color: #fff

@media screen and (min-width: 640px)
	.about-timeline
		padding: 80px 0

	.about-timeline-small
		.timeline-marker
			height: 90px
			width: 90px

		.timeline-vertical-line
			height: 75px

		.timeline-widget
			width: 75%
			height: 280px

@media screen and (min-width: 870px)
	.about-timeline
		padding: 95px 0

	.about-timeline-small
		.timeline-marker
			height: 100px
			width: 100px

		.timeline-vertical-line
			height: 90px

		.timeline-widget
			width: 65%
			height: 340px

@media screen and (min-width: 1000px)
	.about-timeline-small
		.timeline-marker
			height: 130px
			width: 130px

		.timeline-widget
			width: 50%
			height: 380px

@media screen and (min-width: 1200px)
	.about-timeline-small

		.timeline-vertical-line
			height: 120px

			
		.timeline-widget
			width: 45%
			height: 420px

@media screen and (min-width: 1350px)
	.about-timeline-small
		display: none

	.about-timeline-large
		display: flex
		flex-direction: column
		align-items: center
		width: 90%
		margin: 0 auto

	.timeline-list
		li
			position: relative
			width: 2px
			margin: 0 auto
			padding-top: 50px
			background: #a0b3b0
			list-style-type: none

			.timeline-marker
				display: flex
				align-items: center
				justify-content: center
				position: absolute
				left: 50%
				bottom: 33%
				content: ''
				width: 100px
				height: 100px
				border-radius: 50%
				background: #1aba88
				transform: translateX(-50%)
				z-index: 9999

				p
					@include lato()
					font-weight: 300
					font-size: 18px
					letter-spacing: 2px
					color: #fff

			.timeline-item
				position: relative
				bottom: 0
				padding: 20px 15px
				width: 400px
				background: #fff
				visibility: hidden
				opacity: 0
				transition: all .4s ease-in-out

				img
					width: 100%
					max-width: 100%

				&:before
					position: absolute
					bottom: 50%
					content: ''
					width: 0
					height: 0
					border-style: solid

				p
					@include open()
					font-weight: noraml
					font-size: 16px
					letter-spacing: 2px
					line-height: 23px
					margin-top: 15px

			&:nth-child(odd)
				.timeline-item
					left: 240px
					transform: translate3d(200px, 0, 0)

					&:before
						left: -195px
						width: 195px
						border-bottom: 2px solid #a0b3b0

			&:nth-child(even)
				.timeline-item
					left: -620px
					transform: translate3d(-200px, 0, 0)

					&:before
						right: -195px
						width: 195px
						border-bottom: 2px solid #a0b3b0

			&.in-view
				.timeline-item
					transform: none
					visibility: visible
					opacity: 1 
