<DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel='stylesheet' href='../static/icons/style.css'>
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,600" rel="stylesheet">
		<link rel='stylesheet' href='../styles/main.min.css'>
	</head>

	<body>
		<% include ../shared/nav %>

		<main class='about-page-container'>
			<section class='about-header'>
				<div class='about-header-image'></div>
				<div class='about-header-overlay'>
					<h1>Some Title Text</h1>
				</div>
			</section>

			<section class='about-story'>
				<div class='about-story-title'>
					<div></div>
					<h2>The Story</h2>
					<div></div>
				</div>

				<div class='about-story-text'>
					<blockquote>
						Evolution opened the doors to its first store over ten years ago. Since then, with the inumerable hours of work our dedicated employees have put in, we have been able to expand our business more than we had ever previously imagined. Since we have had so much help getting to where we are today, we wanted a chance to give something back to the ones who supported us the most -- the community.
					</blockquote>

					<p>
						As we have grown, we have learned that the most important thing about running a business is how much you value and respect your customers. With this in mind we are striving to provide new and old customers alike with access not only to quality products, but also deals, information, and a welcome environment. You can read more about this at <a href='/blog'>here on our blog</a>
					</p>
				</div>
			</section>

			<section class='about-media'>
				<div class='about-media-wrapper'>
					<div class='about-media-text'>
						<h3>Our Mission</h3>
						<p> Some text about the business here Some text about the business here Some text about the business here Some text about the business here Some text about the business here Some text about the business here</p>

						<h3>Why Us?</h3>
						<p>Some text about the business here Some text about the business here Some text about the business here Some text about the business here Some text about the business here Some text about the business here</p>
					</div>

					<div class='about-media-video'>
						<div class='media-play-button'>
							<div></div>
						</div>
					</div>
				</div>
			</section>

			<section class='about-timeline'>
				<div class='about-timeline-large'>
					<div class='about-timeline-row-left'>
						<div>
							<div class='timeline-widget'></div>
							<div class='timeline-horizontal-line'></div>
							<div class='timeline-marker'></div>
							<div class='timeline-vertical-line'></div>
						</div>
					</div>

					<div class='about-timeline-row-right'>
						<div>
							<div class='timeline-horizontal-line'></div>						
							<div class='timeline-widget'></div>
							<div class='timeline-marker'></div>
						</div>
					</div>

					<div class='about-timeline-row-left'>
						<div>
							<div class='timeline-widget'></div>
							<div class='timeline-horizontal-line'></div>
							<div class='timeline-marker'></div>
						</div>
					</div>

					<div class='about-timeline-row-right'>
						<div>
							<div class='timeline-horizontal-line'></div>						
							<div class='timeline-widget'></div>
							<div class='timeline-marker'></div>
						</div>
					</div>

					<div class='about-timeline-row-left'>
						<div>
							<div class='timeline-widget'></div>
							<div class='timeline-horizontal-line'></div>
							<div class='timeline-marker'></div>
						</div>
					</div>

					<div class='about-timeline-row-right'>
						<div>
							<div class='timeline-horizontal-line'></div>						
							<div class='timeline-widget'></div>
							<div class='timeline-marker'></div>
						</div>
					</div>
				</div>

				<div class='about-timeline-small'>
					<div>
						<div class='timeline-marker'></div>
						<div class='timeline-vertical-line'></div>
						<div class='timeline-widget'></div>
						<div class='timeline-vertical-line'></div>
					</div>

					<div>
						<div class='timeline-marker'></div>
						<div class='timeline-vertical-line'></div>
						<div class='timeline-widget'></div>
						<div class='timeline-vertical-line'></div>
					</div>

					<div>
						<div class='timeline-marker'></div>
						<div class='timeline-vertical-line'></div>
						<div class='timeline-widget'></div>
						<div class='timeline-vertical-line'></div>
					</div>

					<div>
						<div class='timeline-marker'></div>
						<div class='timeline-vertical-line'></div>
						<div class='timeline-widget'></div>
						<div class='timeline-vertical-line'></div>
					</div>

					<div>
						<div class='timeline-marker'></div>
						<div class='timeline-vertical-line'></div>
						<div class='timeline-widget'></div>
						<div class='timeline-vertical-line'></div>
					</div>

					<div>
						<div class='timeline-marker'></div>
						<div class='timeline-vertical-line'></div>
						<div class='timeline-widget'></div>
						<div class='timeline-vertical-line last'></div>
					</div>
				</div>
			</section>

			<section class='about-today'>
				<h2>Where we are today</h2>

				<div class='about-today-staff'>
					<div class='staff'>
						<div class='staff-image'></div>
						<h4>Name</h4>
						<p>Some text text text text text and stuff</p>
					</div>

					<div class='staff'>
						<div class='staff-image'></div>
						<h4>Name</h4>
						<p>Some adjfhakjdfhakjdhf adskjfhsakdfh</p>
					</div>
				</div>
			</section>
		</main>

		<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.js'></script>
		<script src='../index.js'></script>
	</body>
</html>