@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o0jkhg');
  src:  url('fonts/icomoon.eot?o0jkhg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o0jkhg') format('truetype'),
    url('fonts/icomoon.woff?o0jkhg') format('woff'),
    url('fonts/icomoon.svg?o0jkhg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-megaphone:before {
  content: "\e021";
}
.icon-trophy:before {
  content: "\e023";
}
.icon-envelope:before {
  content: "\e028";
}
.icon-lightbulb:before {
  content: "\e030";
}
.icon-beaker:before {
  content: "\e03c";
}
.icon-genius:before {
  content: "\e046";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-chat_bubble_outline:before {
  content: "\e0cb";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-delete:before {
  content: "\e872";
}
.icon-exposure_neg_1:before {
  content: "\e3cb";
}
.icon-exposure_plus_1:before {
  content: "\e3cd";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-pause:before {
  content: "\e034";
}
.icon-play_arrow:before {
  content: "\e037";
}
.icon-send:before {
  content: "\e163";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-stop:before {
  content: "\e047";
}
.icon-thumb_down:before {
  content: "\e8db";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-volume_off:before {
  content: "\e04f";
}
.icon-volume_up:before {
  content: "\e050";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

