
.nav
	position: relative
	display: flex
	align-items: stretch
	height: 70px
	z-index: 50

	&:not(.landing-nav)
		padding: 30px 0
		background: #fff

.nav-left
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-start
	padding-left: 20px

.nav-right
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-end
	padding-right: 20px

.nav-item
	display: flex
	align-items: center
	justify-content: center

	.nav-logo
		color: #909ea8

	.menu-icon
		position: relative
		display: flex
		align-items: center
		justify-content: center
		height: 40px
		width: 50px
		cursor: pointer
		z-index: 110

		i
			font-size: 32px
			color: #909ea8

.nav-search-container
	display: none

.no-results-message
	display: none

@media screen and(min-width: 1000px)
	.nav
		padding: 30px 0

	.nav-item
		.menu-icon
			border-left: 1px solid #909ea8
		
	.nav-item-search
		justify-content: flex-end
		position: relative
		width: 55%
		padding: 0

	.nav-search-container
		display: flex
		align-items: center
		justify-content: flex-end
		position: relative
		height: 70px
		width: 300px
		text-align: center

	.search-icon
		position: relative
		width: 20px
		height: 20px
		margin-right: 22px
		border-radius: 30px
		border: 2px solid #909ea8
		background: rgba(0,0,0,0.1)
		z-index: 5
		overflow: hidden
		cursor: pointer


	.search-stick
		content: ''
		position: absolute
		top: 39px
		right: 19px
		width: 2px
		height: 12px
		background: #909ea8
		transform: rotate(315deg)
		z-index: 1
		animation: search-stick-out .2s ease forwards

	.nav-search-bar
		position: relative

	.search-box
		background: none
		width: 230px
		height: 25px
		margin-top: -12px
		outline: none
		border: none
		font-size: 16px
		color: white
		position: absolute
		pointer-events: none
		left: 17px
		z-index: 100

		&.search-open
			display: block
			pointer-events: auto

	.icon-search
		position: absolute
		left: 15px
		top: 14px
		font-size: 22px
		color: rgba(220, 220, 220, .8)
		display: none
		z-index: 100

	.close-click-area
		position: absolute
		top: 0
		right: 0
		height: 30px
		width: 50px

		&.clickable
			z-index: 150


	.close-search-1
		content: ''
		position: absolute
		top: 40px
		right: 4px
		width: 3px
		height: 15px
		background: #909ea8
		transform: rotate(315deg)
		z-index: 100
		cursor: pointer

	.close-search-2
		content: ''
		position: absolute
		top: -20px
		right: 4px
		width: 3px
		height: 15px
		background: #909ea8
		transform: rotate(225deg)
		z-index: 100
		cursor: pointer

	.close-search-1.slide-in
		animation: build-x-one .2s ease-out .8s forwards

	.close-search-2.slide-in
		animation: build-x-two .2s ease-out .8s forwards
		display: block

	.close-search-1.slide-out
		animation: close-x-one .2s ease-out forwards

	.close-search-2.slide-out
		animation: close-x-two .2s ease-out forwards
		display: block

	.no-results-message
		display: none

	.search-label
		display: none

	.search-icon.open
		animation: search-box-open .2s ease-out .3s forwards

		&.search-icon.close
			animation: search-box-close .2s ease-in .7s forwards

	.search-stick.slide-in
		animation: search-stick-in .4s ease forwards

	.search-stick.slide-out
		animation: search-stick-out .4s ease .4s forwards




@media screen and (min-width: 1600px)
	.nav-left
		padding-left: 30px

	.nav-right
		padding-right: 40px