<nav class='nav'>
	<div class='nav-left'>
		<div class='nav-item'>
			<div class='nav-logo'>
				<p>Logo here</p>
			</div>
		</div>
	</div>

	<div class='nav-right'>
		<div class='nav-item'>
			<div class='nav-search'>
				<div></div>
			</div>
		</div>

		<div class='nav-item'>
			<div class='menu-icon'>
				<i class='icon-menu'></i>
			</div>
		</div>
	</div>
</nav>