<nav class='nav'>
	<div class='nav-left'>
		<div class='nav-item'>
			<div class='nav-logo'>
				<p>Logo here</p>
			</div>
		</div>
	</div>

	<div class='nav-right'>
		<div class='nav-item nav-item-search'>
			<div class='nav-search-container'>
				<div class='nav-search-bar'>
					<input type='text' name='query' class='search-box' id='nav-autocomplete'>
					<div class='autocomplete-list'></div>
					<label class='search-label'>Search</label>
					<span class='icon-search'></span>
				</div>

				<div class='search-icon'>
					<i class='close-search-1'></i>
					<i class='close-search-2'></i>
					<div class='close-click-area'></div>
				</div>
				<i class='search-stick'></i>
			</div>

			<section class='nav-seach-results'>
			</section>

			<p class='no-results-message'>No results</p>
		</div>


		<div class='nav-item'>
			<div class='menu-icon'>
				<i class='icon-menu'></i>
			</div>
		</div>
	</div>
</nav>