<div class='sidenav-overlay'></div>
<div class='sidenav-container'>
	<div class='sidenav'>
		<div class='sidenav-header'>
			<p>Something here, lawl</p>
		</div>

		<div class='sidenav-body'>
			<p>Something here too</p>
		</div>
	</div>
</div>