
<div class='sidenav-container'>
	<div class='sidenav'>
		<div class='sidenav-header'>
			<button class='sidenav-close'>
				<span>x</span>
			</button>
			<h3>Logo Here</h3>
		</div>

		<div class='sidenav-body'>
			<ul class='sidenav-links'>
				<li>
					<a href='/'>
						<p>Home</p>
					</a>
				</li>

				<li>
					<a href='/'>
						<p>About</p>
					</a>
				</li>

				<li>
					<a href='/'>
						<p>Shop</p>
					</a>
				</li>

				<li>
					<a href='/'>
						<p>Contact</p>
					</a>
				</li>

				<li>
					<a href='/'>
						<p>News</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>