.landing-page-content
	display: flex
	flex-direction: column
	justify-content: center

.landing-header
	position: relative
	height: 1300px
	margin-top: -70px

	img
		width: 100%
		height: 450px
		transform: scaleX(-1)

.landing-header-extension
	position: absolute
	top: 400px
	left: 0
	height: 900px
	width: 100%
	background: #000

.landing-header-overlay
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	background: rgba(64, 67, 77, 0.9)

.landing-header-content
	position: absolute
	top: 140px
	left: 0
	z-index: 100
	width: 100%
	text-align: center

	h1
		@include lato()
		font-weight: 300
		font-size: 30px
		line-height: 45px
		letter-spacing: 3px
		text-transform: uppercase
		color: #d3d3d4
		margin-bottom: 35px
		text-shadow: 0 1px 1px rgba(0,0,0,0.8)

	p
		@include lato
		font-weight: 300
		font-size: 16px
		line-height: 30px
		letter-spacing: 2px
		color: lighten(#5f98cf, 15%)
		text-shadow: 0 1px 1px rgba(0,0,0,0.5)

.landing-header-links
	display: flex
	flex-direction: column
	align-items: center
	padding-top: 60px
	padding-bottom: 80px
	z-index: 100
	width: 100%

	a
		text-decoration: none
		height: 45px

		&:nth-of-type(1)
			margin-bottom: 45px

			button
				height: 45px
				width: 150px
				border: 1px solid
				border-color: rgba(0,0,0,0.2)
				background-color: transparent
				transition: background-color .4s ease-out

				span
					@include open()
					font-weight: 600
					letter-spacing: 2px
					font-size: 14px
					text-transform: uppercase
					color: #d3d3d4
					transition: color .4s ease-out

				&:hover
					background-color: #ffc801

					span
						color: #fff

		&:nth-of-type(2)
			button
				display: flex
				align-items: center
				justify-content: center
				position: relative
				height: 47px
				width: 150px
				border: none
				background: rgba(0,0,0,0.1)
				transition: all .4s ease-out

				span
					display: inline-block
					margin-top: -1px
					margin-right: 8px
					@include open()
					font-weight: 400
					letter-spacing: 2px
					font-size: 15px
					text-transform: uppercase
					color: #e9e9e9
					transition: color .4s ease
					text-shadow: none

					&:nth-of-type(2)
						position: absolute
						top: 12px
						right: -7px
						margin-top: 0
						font-size: 22px
						color: #fff

				&:hover
					background-color: #fff

					span
						color: #000

.landing-header-browse
	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	padding-top: 70px

	h2
		margin-top: 30px
		margin-bottom: 10px
		@include lato()
		font-weight: 300
		letter-spacing: 3px
		font-size: 28px
		text-transform: uppercase
		color: #4b77a2

.browse-decorator
	height: 2px
	width: 80px
	background-color: #4b77a2

.landing-juice-drop
	position: relative
	display: flex
	align-items: center
	justify-content: center
	height: 65px
	width: 65px
	background-color: lighten(#5f98cf, 15%)
	border-radius: 80% 0 55% 50% / 55% 0 80% 50%
	text-overflow: clip
	transform: rotateZ(-45deg)

	> div
		position: relative
		height: 30px
		width: 30px
		background-color: rgba(0,0,0,0.6)
		border-radius: 80% 0 55% 50% / 55% 0 80% 50%
		text-overflow: clip

.landing-browse-links
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: center
	padding-top: 60px

	.icon-overlay
		position: absolute
		height: 70px
		width: 70px
		border-radius: 50%
		background: rgba(0,0,0,0.2)
		transition: all .4s ease
		z-index: 10

	a
		position: relative
		height: 70px
		width: 70px
		border-radius: 50%
		margin-right: 10px
		text-decoration: none


		> img
			height: 70px
			width: 70px
			border-radius: 50%

		p
			@include lato()
			font-weight: 300
			color: #fff
			font-size: 16px
			opacity: 0
			letter-spacing: 1px
			transform: translateY(20px)
			transition: all .4s ease-out

		&:hover
			.icon-overlay
				background: transparent
				
			p
				transform: translateY(0)
				opacity: 1





@media screen and (min-width: 490px)
	.landing-header-content
		top: 200px

	.landing-header-links
		flex-direction: row
		align-items: center
		justify-content: center

		a
			&:nth-of-type(1)
				margin-bottom: 0
				margin-right: 20px

			&:nth-of-type(2)
				margin-left: 20px

	.landing-header-browse
		padding-top: 150px

	.landing-browse-links
		a
			margin-right: 20px

@media screen and (min-width: 640px)
	.landing-header
		height: 1350px

		img
			height: 700px

	.landing-header-extension
		top: 650px
		height: 700px

	.landing-header-content
		h1
			width: 90%
			margin: 0 auto 25px auto

		p
			font-size: 18px

	.landing-header-links
		padding-top: 85px

	.landing-header-browse
		padding-top: 170px

@media screen and (min-width: 768px)
	.landing-header-content
		h1
			width: 60%
			line-height: 48px
			font-size: 35px
			margin-bottom: 45px

		p
			font-size: 20px

@media screen and (min-width: 1024px)
	.landing-header-content
		h1
			width: 50%
			margin: 0 auto 35px auto
			font-size: 40px
			line-height: 58px

	.landing-header-links
		a
			height: 55px

			&:nth-of-type(1),
			&:nth-of-type(2)
				button
					height: 55px
					width: 240px

	.landing-browse-links
		a
			height: 85px
			width: 85px

			img
				height: 85px
				width: 85px

@media screen and (min-width: 1600px)
	.landing-header
		img
			height: 1000px

	.landing-header-extension
		top: 950px
		height: 400px

	.landing-header-content
		h1
			width: 40%
			font-size: 52px
			line-height: 58px
			margin-bottom: 65px
			color: #fff

		p
			font-size: 24px
			letter-spacing: 3px
			line-height: 33px

	.landing-header-browse
		padding-top: 60px

	.landing-browse-links
		a
			height: 90px
			width: 90px
			margin-right: 40px
			margin-left: 40px

			img
				height: 90px
				width: 90px
