.contact-form-container
	padding: 50px 0
	background: rgba(19, 35, 47, 0.9)

	p
		@include lato()
		font-weight: normal
		font-size: 17px
		line-height: 30px
		width: 90%
		margin: 0 auto
		color: #fff
		text-align: center

.contact-form
	width: 90%
	margin: 65px auto 0 auto

.form-wrapper
	position: relative
	width: 100%
	margin-bottom: 52px

	input
		position: relative
		height: 40px
		width: 100%
		padding: 0
		border: none
		border-bottom: 1px solid #a0b3b0
		@include lato()
		font-weight: 300
		letter-spacing: 2px
		font-size: 17px
		background: transparent
		outline: none

	label
		position: absolute
		top: 13px
		left: 16px
		@include lato()
		font-weight: 300
		font-size: 17px
		letter-spacing: 2px
		color: rgba(255, 255, 255, 0.5)

		.req
			color: #1aba88

	textarea
		position: relative
		width: 100%
		@include lato()
		font-weight: 300
		letter-spacing: 2px
		font-size: 17px
		border: 1px solid #a0b3b0
		background: transparent
		outline: none

.form-submit
	display: flex
	align-items: center
	justify-content: center
	padding: 20px 0

	button
		height: 50px
		width: 200px
		border: none
		background: rgba(160, 179, 176, 0.247059)
		pointer-events: none

		span
			@include lato()
			font-weight: 300
			letter-spacing: 2px
			font-size: 16px
			text-transform: uppercase
			color: #a0b3b0

@media screen and (min-width: 600px)
	.contact-form-container
		padding: 75px 0

		p
			text-align: center
			line-height: 32px

