.contact-human
	display: flex
	flex-direction: column
	padding: 90px 0
	text-align: left
	background: lighten(#c1bdba, 15%)

	h2
		@include lato()
		font-weight: 300
		font-size: 32px
		letter-spacing: 1px
		margin-bottom: 55px
		text-align: center

	p
		@include open()
		font-weight: normal
		font-size: 15x
		line-height: 32px
		width: 90%
		margin: 0 auto
		text-align: center
		color: #7d7d7d

@media screen and (min-width: 600px)
	.contact-human
		padding: 75px 0

		h2
			margin-left: 36px

		p
			margin-left: 35px
			margin-bottom: 32px

@media screen and (min-width: 820px)
	.contact-human
		p
			line-height: 35px
			width: 85%