.contact-maps
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	height: 400px

	img
		height: 100%
		width: 100%
		max-width: 100%


@media screen and (min-width: 820px)
	.contact-maps
		height: 320px


@media screen and (min-width: 1000px)
	.contact-maps
		height: 420px

@media screen and (min-width: 1400px)
	.contact-maps
		height: 460px

@media screen and (min-width: 1600px)
	.contact-maps
		height: 500px