<header class='landing-header'>
	<img src='./images/header-large.jpg'>
	<div class='landing-header-extension'></div>
	<div class='landing-header-overlay'></div>

	<div class='landing-header-content'>
		<h1>Oklahoma's Premier Smoke Shop</h1>

		<p>An Evolving force in</p>
		<hr>
		<p>The sale of smoking</p>
		<hr>
		<p>Accessories</p>

		<div class='landing-header-links'>
			<a href='/'>
				<button>
					<span>Get in touch</span>
				</button>
			</a>

			<a href='/'>
				<button>
					<span>Shop Now</span>
					<span class='icon-keyboard_arrow_right'></span>
				</button>
			</a>
		</div>

		<div class='landing-header-browse'>
			<div class='landing-juice-drop'>
				<div></div>
			</div>

			<h2>Browse</h2>
			<div class='browse-decorator'></div>
		</div>

		<div class='landing-browse-links'>
			<a href='/'>
				<div class='icon-overlay'></div>
				<img src='./images/cigar.jpg'>
				<p>Cigars</p>
			</a>

			<a href='/'>
				<div class='icon-overlay'></div>
				<img src='./images/ejuice.png'>
				<p>E-Cigs</p>
			</a>

			<a href='/'>
				<div class='icon-overlay'></div>
				<img src='./images/lighter.png'>
				<p>Smoke</p>
			</a>

			<a href='/' class='health-icon'>
				<div class='icon-overlay'></div>
				<img src='./images/health.png'>
				<p>Health</p>
			</a>
		</div>

	</div>
</header>