<header class='landing-header'>
	<img src='./static/images/header-xs.jpg'>
	<div class='landing-header-extension'></div>
	<div class='landing-header-overlay'></div>

	<div class='landing-header-content'>
		<h1>Oklahoma's Premier Smoke Shop</h1>

		<p>An Evolving force in</p>
		<hr>
		<p>The sale of smoking</p>
		<hr>
		<p>Accessories</p>

		<div class='landing-header-links'>
			<a href='/'>
				<button>
					<span>Get in touch</span>
				</button>
			</a>

			<a href='/'>
				<button>
					<span>Shop Now</span>
					<span class='icon-keyboard_arrow_right'></span>
				</button>
			</a>
		</div>

	</div>
</header>