<div class='landing-info'>
	<div class='landing-info-overlay'></div>
	<div class='landing-info-mobile'>
		<div class='landing-about'>
			<h2>About Us</h2>
			<p>Evolution started as as a small, local-business
			and with your help has expanded to five stores over the past ten years</p>
			<a href='/'>-- Read more</a>
		</div>

		<div class='landing-locations'>
			<h3>Locations</h3>
			<div class='locations'>
			<div class='location'>
				<p>7123 S 92nd E ave</p>
				<p>Tulsa, Ok 74133</p>
				<p><span class='icon-phone'></span>918-615-3344</p>
			</div>

			<div class='location'>
				<p>7123 S 92nd E ave</p>
				<p>Tulsa, Ok 74133</p>
				<p><span class='icon-phone'></span>918-615-3344</p>
			</div>
			<div class='location'>
				<p>7123 S 92nd E ave</p>
				<p>Tulsa, Ok 74133</p>
				<p><span class='icon-phone'></span>918-615-3344</p>
			</div>
			<div class='location'>
				<p>7123 S 92nd E ave</p>
				<p>Tulsa, Ok 74133</p>
				<p><span class='icon-phone'></span>918-615-3344</p>
			</div>
			<div class='location'>
				<p>7123 S 92nd E ave</p>
				<p>Tulsa, Ok 74133</p>
				<p><span class='icon-phone'></span>918-615-3344</p>
			</div>
			</div>
		</div>

		<div class='landing-hours'>
			<h3>Hours</h3>
			<p>All stores are open from</p>

			<div>
				<p>Mon-Sat: 10am - 9pm</p>
				<p>Sun: 12pm - 6pm</p>
				<p>Sun: 12pm - 9pm(Tulsa only)</p>
			</div>
		</div>

		<div class='landing-newsletter'>
			<h3>Signup for our Newsletter</h3>

			<div class='newsletter-input'>
				<input type='email' name='email' id='newsletter-email'>
				<label>Email</label>
				<button type='button' id='newsletter-submit'><span class='icon-mail-envelope-closed'></span></button>
			</div>

			<p>-- Find out the benefits of signing up <a href='/'>here</a></p>
		</div>
	</div>


	<div class='landing-info-non-mobile'>
		<div class='landing-info-column'>
			<div class='landing-about'>
				<h2>About Us</h2>
				<p>Evolution started as as a small, local-business
				and with your help has expanded to five stores over the past ten years</p>
				<a href='/'>-- Read more</a>
			</div>

			<div class='landing-newsletter'>
				<h3>Signup for our Newsletter</h3>

				<div class='newsletter-input'>
					<input type='email' name='email' id='newsletter-email'>
					<label>Email</label>
					<button type='button' id='newsletter-submit'><span class='icon-mail-envelope-closed'></span></button>
				</div>

				<p>-- Find out the benefits of signing up <a href='/'>here</a></p>
			</div>

			<div class='landing-social'>
				<h3>Follow us on Social Media!</h3>

				<div class='landing-social-buttons'>
					<a href='/'>
						<button>
							<span class='icon-facebook'></span>
						</button>
					</a>

					<a href='/'>
						<button>
							<span class='icon-twitter'></span>
						</button>
					</a>

					<a href='/'>
						<button>
							<span class='icon-instagram'></span>
						</button>
					</a>
				</div>
			</div>
		</div>

		<div class='landing-info-column desktop-only'>
			<h3>Latest Posts</h3>

			<div class='landings-posts-container'>
				<div class='landing-tweet'>
					<div class='tweet-container'>
						<button>
							<span class='icon-twitter'></span>
						</button>

						<div>
							<p>skjdfhksjdhflk lskjdhfkjs ksljdhflksjh lkjshsdsdfkhs skdjfhlksjdhfsdf</p>
						</div>
					</div>
					<p>3 days ago</p>
				</div>

				<div class='landing-tweet'>
					<div class='tweet-container'>
						<button>
							<span class='icon-twitter'></span>
						</button>

						<div>
							<p>adjfhksdjhfakjsdfhajkh asdf asdkfjhasf asdkfjhasfasdkfjhasdf</p>
						</div>
					</div>
					<p>4 days ago</p>
				</div>

				<div class='landing-tweet'>
					<div class='tweet-container'>
						<button>
							<span class='icon-twitter'></span>
						</button>

						<div>
							<p>This is another tweet that Evolution would make. This is pretty simple blah blah</p>
						</div>
					</div>
					<p>5 days ago</p>
				</div>

				<div class='landing-tweet'>
					<div class='tweet-container'>
						<button>
							<span class='icon-facebook'></span>
						</button>

						<div>
							<p>This is a sample facebook post made by the Evolution facebook page. This is just a sample</p>
						</div>
					</div>
					<p>1 day ago</p>
				</div>

				<div class='landing-tweet'>
					<div class='tweet-container'>
						<button>
							<span class='icon-facebook'></span>
						</button>

						<div>
							<p>This is a sample facebook post made by the Evolution facebook page. This is just a sample</p>
						</div>
					</div>
					<p>1 day ago</p>
				</div>

				<div class='landing-tweet'>
					<div class='tweet-container'>
						<button>
							<span class='icon-facebook'></span>
						</button>

						<div>
							<p>This is a sample facebook post made by the Evolution facebook page. This is just a sample</p>
						</div>
					</div>
					<p>1 day ago</p>
				</div>								
			</div>

		</div>

		
		<div class='landing-info-column'>
			<div class='landing-locations'>
				<h3>Locations</h3>
				<div class='locations'>
				<div class='location'>
					<p>7123 S 92nd E ave</p>
					<p>Tulsa, Ok 74133</p>
					<p><span class='icon-phone'></span>918-615-3344</p>
				</div>

				<div class='location'>
					<p>7123 S 92nd E ave</p>
					<p>Tulsa, Ok 74133</p>
					<p><span class='icon-phone'></span>918-615-3344</p>
				</div>
				<div class='location'>
					<p>7123 S 92nd E ave</p>
					<p>Tulsa, Ok 74133</p>
					<p><span class='icon-phone'></span>918-615-3344</p>
				</div>
				<div class='location'>
					<p>7123 S 92nd E ave</p>
					<p>Tulsa, Ok 74133</p>
					<p><span class='icon-phone'></span>918-615-3344</p>
				</div>
				<div class='location'>
					<p>7123 S 92nd E ave</p>
					<p>Tulsa, Ok 74133</p>
					<p><span class='icon-phone'></span>918-615-3344</p>
				</div>
				</div>
			</div>

			<div class='landing-hours'>
				<h3>Hours</h3>
				<p>All stores are open from</p>

				<div>
					<p>Mon-Sat: 10am - 9pm</p>
					<p>Sun: 12pm - 6pm</p>
					<p>Sun: 12pm - 9pm(Tulsa only)</p>
				</div>
			</div>
		</div>
	</div>
</div>