<div class='service-container'>
	<div class='service-top-diamond'></div>

	<div class='service-header'>
		<h2>Services</h2>

		<div class='service-header-underline'>
			<div class='left-triangle'></div>
			<div class='hex'></div>
			<div class='right-triangle'></div>
		</div>

		<div class='service-header-text'>
			<p>We aim to provide the community
			with access to quality products without
			turning out their pockets</p>
		</div>
	</div>

	<div class='service-selections'>
		<div class='selection-hexagon selection-hexagon-active'>
			<div class='selection-icon'>
				<span class='icon-genius'></span>
			</div>
		</div>



		<div class='selection-hexagon'>
			<div class='selection-icon'>
				<span class='icon-megaphone'></span>
			</div>
		</div>


		<div class='selection-hexagon'>
			<div class='selection-icon'>
				<span class='icon-lightbulb'></span>
			</div>
		</div>

		<div class='selection-hexagon'>
			<div class='selection-icon'>
				<span class='icon-beaker'></span>
			</div>
		</div>
	</div>

	<div class='service-selected'>
		<h2>Smoking Accessories</h2>

		<p>At Evolution we offer a large assortment of products for any smoking needs. From bubblers to pipes we have something for you</p>

		<div class='service-images'>
			<div></div>
			<div></div>
		</div>

		<a href='/'>
			<button>
				<span>See More</span>
			</button>
		</a>
	</div>

	<div class='service-bottom-diamond'></div>
</div>