<div class='service-container'>
	<div class='service-top-diamond'></div>

	<div class='service-header'>
		<h2>Services</h2>

		<div class='service-header-underline'>
			<div class='left-triangle'></div>
			<div class='hex'></div>
			<div class='right-triangle'></div>
		</div>

		<div class='service-header-text'>
			<p>We aim to provide the community
			with access to quality products without
			turning out their pockets</p>
		</div>
	</div>

	<div class='js-tab'>
		<ul class='service-selections tab-list'>
			<li class='selection-hexagon tab-item'>
				<a class='selection-icon tab-link' href='#tab-1'>
					<span class='icon-genius'></span>
				</a>
			</li>



			<li class='selection-hexagon tab-item'>
				<a class='selection-icon tab-link' href='#tab-2'>
					<span class='icon-megaphone'></span>
				</a>
			</li>


			<li class='selection-hexagon tab-item'>
				<a class='selection-icon tab-link' href='#tab-3'>
					<span class='icon-lightbulb'></span>
				</a>
			</li>

			<li class='selection-hexagon tab-item'>
				<a class='selection-icon tab-link' href='#tab-4'>
					<span class='icon-beaker'></span>
				</a>
			</li>
		</ul>
	

	<section class='service-selected tab-panel' id='tab-1'>
		<h2>Smoking Accessories</h2>

		<p>At Evolution we offer a large assortment of products for any smoking needs. From bubblers to pipes we have something for you</p>

		<div class='service-images'>
			<div></div>
			<div></div>
		</div>

		<a href='/'>
			<button>
				<span>See More</span>
			</button>
		</a>
	</section>

	<section class='service-selected tab-panel' id='tab-2'>
		<p>Tab 2 test</p>
	</section>
	</div>

	<div class='service-bottom-diamond'></div>
</div>