<div class='landing-testimonials'>
	<div class='landing-testimonial-header'>
		<h2>Testimonials</h2>
		<p>See what real people are saying about Evolution</p>

		<div class='testimonial-display'>
			<div class='single-testimonial'>
				<div class='testimonial-cutout'></div>
				<div class='testimonial-text'>
					<blockquote>
						This is a quote by someone who has come to evolution before and thought it was cool!
					</blockquote>
					<p> -- Some person</p>
				</div>
			</div>

			<div class='single-testimonial'>
				<div class='testimonial-cutout'></div>
				<div class='testimonial-text'>
					<blockquote>
						This is a quote by someone who has come to evolution before and thought it was cool!
					</blockquote>
					<p> -- Some person</p>
				</div>
			</div>

			<div class='single-testimonial'>
				<div class='testimonial-cutout'></div>
				<div class='testimonial-text'>
					<blockquote>
						This is a quote by someone who has come to evolution before and thought it was cool!
					</blockquote>
					<p> -- Some person</p>
				</div>
			</div>
		</div>
	</div>
</div>